# Основные библиотеки для анализа данных
pandas==1.2.4
numpy==1.21.1
matplotlib==3.3.4
seaborn==0.11.1
scipy==1.9.1

# Для работы с базами данных
sqlalchemy==1.4.22
psycopg2-binary==2.9.1

# Для корреляционного анализа
phik==0.12.5

# Для работы с Jupyter
jupyter==1.0.0
ipykernel==6.0.1

# Дополнительно
openpyxl==3.0.9
tqdm==4.62.3
